:root {
  font-family: 'Hack', 'BigBlueTerm437 Nerd Font Mono', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #292b2f !important;

  text-rendering: optimizeLegibility;
}

html {
  background-color: #292b2f !important;
}

a {
  color: #377c6d;
}
a:hover {
  color: #235347;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}

body {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100%;
}