:root {
  font-family: "Press Start 2P", system-ui;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #292b2f !important;
  user-select: none;

  text-rendering: optimizeLegibility;
}

#root {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 430px) {

  .footerBtn {
    font-size: 1.3em!important;
  }

  .loader {
    margin-top: 3.2em !important;
  }
}

.loader {
  margin-top: 2.2em;
}

input[type=checkbox] {
  transform: scale(0.8);
}

input[type=checkbox] {
  accent-color: #377c6d;
}

.counter {
  display: inline-block;
  margin: 0vw 1vw 0vw 1vw;
  font-family: "BigBlueTerm437 Nerd Font Mono", serif;
  font-size: 1em;
}

.correct {
  font-weight: bold;
  color: #149414;
}

.incorrect {
  font-weight: bold;
  color: brown;
  text-decoration: line-through;
}

.active {
  font-weight: bold;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: -1px;
  width: 90%;
  height: 2px;
  background-color: #377c6d;
  display: block;
}

.footerBtn {
  font-size: 1.2em;
  color: #d7d7d7;
  max-width: 300px;
  margin: 10px 40px 5px 40px;
  padding: 10px 15px 10px 15px;
  transition: transform .1s ease-in-out;

  &:hover {
    transform: scale(1.3)
  }
}

html {
  background-color: #292b2f !important;
}

table {
  margin-top: 3.5em;
}

th {
  font-size: 0.65em;
  padding: 0em 1.2em 0em 1.2em;
  color: #235347;
}

td {
  font-size: 0.55em;
}

a {
  color: #377c6d;
}
a:hover {
  color: #235347;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}

body {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100%;
}