html {
  overflow: hidden;
}

@media screen and (max-width: 430px) {
  html {
    overflow: scroll;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(35, 83, 71);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #6f8d86;
}

:root {
  font-family: "Press Start 2P", system-ui;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  user-select: none;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
}

.loader {
  @media screen and (max-width: 430px) {
    left: 45%;
  }
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 47%;
  margin: auto 0;
}

input{
  background-color: rgb(39, 44, 43) !important;
}

input[type=checkbox] {
  transform: scale(0.8);
}

input[type=checkbox] {
  accent-color: #377c6d;
}

.correct {
  font-weight: bold;
  color: #149414;
}

.incorrect {
  font-weight: bold;
  color: brown;
  text-decoration: line-through;
}

.active {
  font-weight: bold;
  position: relative;
  color: rgba(255, 255, 255, 0.87)
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 90%;
  height: 2px;
  background-color: #377c6d;
  display: block;
}

a {
  color: #377c6d;
}
a:hover {
  color: #235347;
}


.toastSuccess {
  --toastify-color-success: rgb(35, 83, 71);
}

.toastError {
  --toastify-color-error: brown;
}